/** @define AppBase; use strict */
@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Open+Sans+Condensed:300);

body { 
    background-color: #5C6BC0;
    color: white;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
p { font-family: 'Open Sans', sans-serif; }
h1,h2,h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}


#app {
    background-image: url('/public/img/splash-bg-indigo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.container { 
    max-width: 1200px; 
    margin: 0 auto;
}


.header { 
    width:100vw; 
    height:80px;
    background-color: white;
    position: absolute;
}


.AppBase {
    margin: 0 auto;
    height:100vh;
    /*background-color: #9FA8DA; /*200*/
}

.hidden { display:none; }
.not-visible { opacity: 0; visibility: hidden; }
.main-logo { text-align: left; 
    height:95px; 
}
    .main-logo img { width: 200px; margin-top: 12px; }

a { text-decoration: none; }
 a:visited { color: inherit; }

p { 
    font-weight: 200; 
    letter-spacing: 1px;
    font-size: 14px; 
}

h1, h2, h3 { 
    text-transform: uppercase; 
    font-weight: 200;
    letter-spacing: 2px;
}

.circle-logo { 
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    color:#87c7e9;
    text-align: center;
    background-color: white;
    margin: 0 auto;
}
    .logo { padding-top:40px; }



/* TRANSITIONS */
.fadeinright-enter,
.fadeinright-appear {
  opacity: 0.01;
}

.fadeinright-enter-active,
.fadeinright-appear-active {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(.76,.26,.52,.93);
}

.fadeinright-leave {
  opacity: 0;
  position: absolute;
}

.fadeinright-leave-active {
    opacity: 0.01;
    transition: opacity 1ms linear;
}








/* LAYOUTS */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*='col-'] { display: inline-block; vertical-align: top;}

@media only screen and (max-width: 1200px) {
    .main-logo { padding-left: 20px; }
    .Avatar { margin-right: 20px; }
    .radial-container { margin-right: 20px; }
    .Quiz p.current-question { padding-left: 20px; }
    .SideNavigation__wrapper { padding-left: 20px; }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body { }
    [class*="col-"] {
        width: 100%;
    }
    .main-logo { padding-left: 20px; }
    .SignUp { margin:15px !important;}
    .signup-form Button { width: 100%; }
    .signup-content { text-align: center; }
    .form-content { text-align: center; }
    .Quiz .col-6 { width: 50% !important; }

    .CMS-description { text-align: center; }
    .Questions .question-form { text-align: center; }
    .add-question { text-align: center; }
    h1, h2 { text-align: center; }

    .Avatar__name { display: none; }
    .Avatar { width: 50px; margin-right: 20px; }
    .Avatar__image img:hover {
        opacity: 0;
        transition: opacity 300ms ease;
    }

    /* Welcome Page */
    .Home .Home-container h1 {
        font-size: 2em; 
        margin-top: 100px;
    }
}

@media only screen and (max-width: 450px) {
    .add-question { text-align: center; }
}