/** @define NotFound; use strict */
@import 'normalize.css';

.Questions {
    margin-top: 20px;
    background-color:#E8EAF6;
}

.content p { line-height: 22px; color:#777;}
.content h1, .content h2 { color: #3F51B5; }
.content { padding: 0 20px 20px 20px; }

    .question-block { 
        background-color: white; 
        padding: 20px; 
        margin: 0 0 0 0;  
        transition: all .2s ease-in-out;
    }
        .question-block:hover {
            box-shadow: 0px 0px 10px #aaa;
        }

    .answer-list { 
        margin: 5px 0 20px 0; 
        padding:20px; 
        transition: all .2s ease-in-out;
        background-color: white;
    }   
        .answer-list:hover {
            background-color: #fafafa; 
        }
        .answer-list ul { 
            padding-left: 45px; 
            list-style: none;
        }

    .question-circle { 
        float: left; 
        margin-right: 20px; 
        background-color: purple;
        width: 26px; height:26px;
        border-radius: 50%; 
        text-align: center; 
        margin-top: -2px; 
    }
        .question-block p { margin: 0; }
        .question-number { margin-top: 4px; }


.question-form { padding-top: 30px; }
    .form-content {
        margin-bottom: 20px;
        text-align: center; 
        padding: 10px 0;
    }


.Questions input[type="text"] {
    border: 0; 
    width: 100%;
    box-shadow: none;
    color: #ccc;
}

input[type="text"]:focus {
  outline: none;
  color:#333;
  box-shadow: 0px 0px 10px #aaa;
}