/** @define NotFound; use strict */
@import 'normalize.css';

.Questions {
    background-color:#E8EAF6;
    height: 100vh;
}

.content p, .add-question p { line-height: 22px; color:#777;}
.content h1, .content h2,
.add-question h1, .add-question h2 { color: #3F51B5; }
.content { padding: 20px; }

.CMS-description { margin-bottom: 30px; }
.Questions .container .add-question {
    padding-top: 100px; 
}
    .question-block { 
        background-color: white; 
        padding: 20px; 
        margin: 0 0 0 0;  
        transition: all .2s ease-in-out;
    }
        .question-block:hover {
            box-shadow: 0px 0px 10px #aaa;
        }

    .answer-list { 
        margin: 5px 0 20px 0; 
        padding:20px; 
        transition: all .2s ease-in-out;
        background-color: white;
    }   
        .answer-list:hover {
            background-color: #fafafa; 
        }
        .answer-list ul { 
            padding-left: 45px; 
            list-style: none;
        }

    .question-circle { 
        float: left; 
        margin-right: 20px; 
        background-color: purple;
        width: 26px; height:26px;
        border-radius: 50%; 
        text-align: center; 
        margin-top: -2px; 
    }
        .question-block p { margin: 0; }
        .question-number { margin-top: 4px; }

.question-tab {  }
.question-form { 
    padding: 20px; 
    background-color: #3F51B5;
}
    .form-content {
        margin-bottom: 5px;
        text-align: center; 
        padding: 10px 0;
    }

.QuestionList { background-color: #efefef; padding-top: 1px; 
    border-top: 5px solid #3F51B5; 
    border-bottom: 2px solid #3F51B5;
}

