/** @define Button; use strict */

.Avatar {
    float:right;
    margin-top: -80px; 
    height: 50px; 
    border-radius: 25px;
    width: 200px; 
    transition: all 0.3s ease-in-out;
    color: #777;
}

    .Avatar:hover { background-color: #5C6BC0; 
        cursor: pointer;
        color: white;
        box-shadow: 0px 0px 10px #aaa;
    }
    .Avatar:active { background-color: #ddd; }

.Avatar__image {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    border: 5px solid #5C6BC0;
    z-index: 1;
    float:left;
    margin-right: 10px;
}

.Avatar__image img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    z-index: 2;
}
.Avatar__name {
    margin-left: 10px;
    margin-right:10px;
    margin-top:18px;
}
    .Avatar__name .fa-cog {  }
