/** @define NotFound; use strict */
@import 'normalize.css';

.Quiz {
    background-color: #dededd;
    
    width: 100vw;
    height: 100%;
    color:#777;
}
    .Quiz .container { padding-top: 100px; }

.restart-button,
.previous-button { 
    background-color: white;
    padding: 10px;
    width: 125px; 
    text-transform: uppercase; 
    font-size: 10px; 
    display: inline-block;
    border-right: 1px solid #dededd; 
    text-align: center; 
}
.restart-button:hover, 
.previous-button:hover { 
    background-color: #5C6BC0;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.radial-container { float: right; }

.current-question { 
    margin: 0 auto; 
    padding: 30px 20px 20px 0; 
    font-size: 30px; 
    line-height: 36px;
}

.quiz-content { 
    height: 150px; 
    padding:0px;
    margin-bottom: 20px; 
}

.quiz-button {
    background-color: #9FA8DA;
    height: 100%;
    align-items: center;
    text-align: center; 
    display: flex;
}
    .quiz-button:hover { cursor: pointer; }
    .quiz-button p { 
        padding: 20px;
        margin: 0 auto; 
    }

.qb-1 { background-color: #FFF8E1;}
.qb-2 { background-color: #FCE4EC;}
.qb-3 { background-color: #E8F5E9;}
.qb-4 { background-color: #E8EAF6;}

.qb-1:hover { background-color: #FFE57F;}
.qb-2:hover { background-color: #F8BBD0;}
.qb-3:hover { background-color: #C8E6C9;}
.qb-4:hover { background-color: #C5CAE9;}

.qb-1:active { background-color: #FFAB00;}
.qb-2:active { background-color: #C51162;}
.qb-3:active { background-color: #00C853;}
.qb-4:active { background-color: #304FFE;}

.qb-1:active p, .qb-2:active p, .qb-3:active p, .qb-4:active p { 
    color: white; 
}


