/** @define NotFound; use strict */
@import 'normalize.css';

.Results {
	text-align: center;
}

.img-resize {
	height: auto; 
    width: auto; 
    max-width: 30%; 
    max-height: 35%;
}

.Results-content {
	background-color: white;
	width: 100%;
}

.text-black {
	max-width: 80%; 
    margin: 0 auto;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 22px;
    padding-left: 5%;
    padding-right: 5%;
}

.bb {
    color: black;
    text-align: left;
    padding-top: 1%;
    margin-bottom: 1%;
}